@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.custom_class {
  width: 7px;
  height: 7px;
  background-color: #1fa45b;
  border-radius: 100%;
  position: absolute;
  left: -12.5px;
  top: 3px;
}
